*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    justify-content: center;
}
body{
    background-image: url('images/bgimage.jpg');
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
button{
    background: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 10px auto 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
i{
    margin: 5px auto;
}
p{
    margin: 10px auto 10px;
}
img{
    margin: 10px auto 10px;
}
a:link, a:visited{
    color: red;
}
.guide a:link, a:visited {
  background-color: #f44336;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.guide a:visited {
  background-color: #f44336;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.app{
    background: #D0F0C0;
    width: 90%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight:600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.app img{
    max-width: 300px;
    max-height: 200px;
    margin: 10px;
    border: solid 2px black;
}
.start{
    display: flex;
    justify-content: center;
    margin: 10px auto 10px;
}
.quiz{
    display: none;
    padding: 20px 0;
}
.quiz h2{
    padding: 5px;
    font-size: 18px;
    color: #001e4d;
    font-weight:600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    justify-content: center;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct, .checkbox-correct{
    background-color: #9aeabc;
}
.incorrect, .checkbox-incorrect{
    background-color: #ff9393;
}
.restart{
    display: none;
    justify-content: center;
}
.flavour{
    display: none;
}
h3{
    font-style: italic;
}
.guide{
    justify-content: center;
}
.startpage p{
    font-weight: bold;   
}
.quiz-checkbox {
    width: 20px;
    height: 20px;
    accent-color: #007bff;
    margin: 10px 8px 10px;
    vertical-align: middle;
}